__pycache__/
*.pyc
.DS_Store
.idea/
.venv/
~$*.docx
/logs/
/!TRAIN_LOG!
/!COLLECT_LOG!
/!RUN_ROOT!/
/!CHUNK_OUT!/
/data/
/models/
!/models/
/models/*
!/models/carla_all_data_mps.pt
!/models/carla_teacher_refined_cuda.pt
