__pycache__/
*.pyc
.DS_Store
.idea/
.venv/
~$*.docx
/logs/
/!TRAIN_LOG!
/!COLLECT_LOG!
/!DATASET_FILE!
/!RUN_ROOT!/
/!CHUNK_OUT!/
/data/
/models/
!/models/
/models/*
!/models/allData_v1_mps.pt
!/models/teacherRefined_v1_cuda.pt
!/models/stopSignHard_v2_blend_cuda.pt
!/models/final_carla_imitation_all_cuda.pt
